.todo-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.todo-item.important {
  background-color: #ffdddd; /* ярко-розовый цвет для важных записей */
}

.todo-item.completed {
  text-decoration: line-through; /* перечеркнутый текст для выполненных записей */
}

.button__red {
  margin-left: 10px;
}